.policy-bg .mini-sec {
    position: relative;
    background-image: url(/public/img/wave-main-bg.webp);
    background-size: cover;
    height: 60vh;
    width: 100%;
}

.policy-bg .mini-sec .disc {
    position: absolute;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    padding: 2em;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.policy-sec p {
    padding: 2em 4em;
}